<div class="chatbox-wrapper">
    <div class="chatbox-toggle">
        <i class='bx bx-message-dots'></i>
    </div>
    <div class="chatbox-message-wrapper">
        <div class="chatbox-message-header">
            <div class="chatbox-message-profile">
                <img src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs2/301383703/original/a8cccf825048f406f8868a549aa14d2dda6c3182.jpg"
                    alt="" class="chatbox-message-image">
                <div>
                    <h4 class="chatbox-message-name">DiffTravelAgency</h4>
                    <p class="chatbox-message-status">online</p>
                </div>
            </div>
            <div class="chatbox-message-dropdown">
                <i class='bx bx-dots-vertical-rounded chatbox-message-dropdown-toggle'></i>
                <ul class="chatbox-message-dropdown-menu">
                    <li>
                        <a href="#">Search</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="chatbox-message-content">
            <h4 class="chatbox-message-no-message">How can we help you?</h4>
        </div>
        <div class="chatbox-message-bottom">
            <form action="#" class="chatbox-message-form">
                <textarea rows="1" placeholder="Type message..." class="chatbox-message-input"></textarea>
                <button type="submit" class="chatbox-message-submit"><i class='bx bx-send'></i></button>
            </form>
        </div>
    </div>
</div>