    <a href="https://www.facebook.com/" alt="coni"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.youtube.com/" alt="coni"><i class="fab fa-youtube"></i></a>
    <a href="https://twitter.com/" alt="coni"><i class="fab fa-twitter"></i></a>
    <p>&copy; 2023 Html Css Js Project. All rights reserved.</p>