<button id="macedonia" class="spin-button" onclick="openLeftSidebar()">
  <span class="sidebar-text">Open Sidebar</span>
</button>

<div id="sidebar">
  <i class="fa fa-times" aria-hidden="true" id="x-close" onclick="closeLeftSidebar()"></i>
  <div class="contenedor-menu">

    <ul class="menu" onclick="toggleSideMenu()">
      <li id='drop-down-menu'>Choose destination<i class="fa fa-chevron-down"></i>
        <ul class="drop">
          <li><a href="/home">World destinations</a></li>
          <li id="macedonia-category"><a href="/home?filter=macedonia">Macedonia destinations</a></li>
        </ul>
      </li>
    </ul>
    <input type="text" id="myInput" onkeyup="searchForArticle()" placeholder="Search for destination...">
  </div>
</div>

