<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/_head') %>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="css/chatbox-style.css">
</head>

<body>
  <div class="chatbox-toggle">
    <i class='bx bx-message-dots'></i>
  </div>
  <div id="live-chat">
    <div class="chatbox-message-header">
      <div class="chatbox-message-profile">
        <img
          src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs2/301383703/original/a8cccf825048f406f8868a549aa14d2dda6c3182.jpg"
          alt="" class="chatbox-message-image">
        <div>
          <h4 class="chatbox-message-name">DiffTravelAgency</h4>
          <p class="chatbox-message-status">online</p>
        </div>
      </div>
    </div>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" placeholder="message..." />
    </form>
  </div>

  <script src="/socket.io/socket.io.js"></script>

  <script src="js/chat-script.js"></script>
</body>

</html>