<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/_head') %>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" type="text/css" href="css/chatbox-style.css">
  </head>
  <body>
    <div class="chatbox-toggle">
      <i class='bx bx-message-dots'></i>
  </div>    <div id="live-chat">
        <div class="chatbox-message-header">
          <div class="chatbox-message-profile">
            <img src="https://fiverr-res.cloudinary.com/t_main1,q_auto,f_auto/gigs2/301383703/original/a8cccf825048f406f8868a549aa14d2dda6c3182.jpg"
                alt="" class="chatbox-message-image">
            <div>
                <h4 class="chatbox-message-name">DiffTravelAgency</h4>
                <p class="chatbox-message-status">online</p>
            </div>
        </div>
        </div>
      <ul id="messages"></ul>
      <form id="form" action="">
        <input id="input" autocomplete="off" placeholder="message..."/>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      // Handle 'connect' event
      socket.on('connect', () => {
        console.log('Connected to the server.');
        
        fetch('/messages')
    .then((response) => response.json())
    .then((messages) => {
      messages.forEach((message) => {
        appendMessage(`Server: ${message.content}`);
      });
    })
    .catch((error) => {
      console.error('Error retrieving messages:', error);
    });
        // Handle 'chat message' event
        socket.on('chat message', (message) => {
          appendMessage(message);
        });

        // Handle 'disconnect' event
        socket.on('disconnect', () => {
          console.log('Disconnected from the server.');
        });
      });

      // Handle form submission
      document.getElementById('form').addEventListener('submit', (e) => {
        e.preventDefault();
        const messageInput = document.getElementById('input');
        const message = messageInput.value;
        socket.emit('chat message', message);
        messageInput.value = '';
        appendMessage(`You: ${message}`);
      });

      // Append message to the chat window
      function appendMessage(message) {
        const messages = document.getElementById('messages');
        const li = document.createElement('li');
        li.textContent = message;
        messages.appendChild(li);
      }

      var chatboxToggle = document.querySelector('.chatbox-toggle')
    var chatboxMessage = document.querySelector('#live-chat')

    chatboxToggle.addEventListener('click', function () {
        console.log('hi');
        chatboxMessage.classList.toggle('show-chat')
    });
    </script>
    <script src="js/chat-script.js"></script>
  </body>
</html>
