body {
    font-family: Arial, sans-serif;
  }

  #messages {
    margin: 5%;
    background-color: rgb(247, 245, 243);
    padding: 2%;
    list-style: none;
    width: 90%;
    overflow-y: auto;
  }

  #form-chat {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  #live-chat {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 240, 240);
    width: 25vw;
    border: 2px solid rgb(80, 232, 235);
    border-radius: 2%;
    position: fixed;
    /* left: 10px; */
    bottom: 5%;
  }
  

  #live-chat.show-chat {
    top: 10%;
    visibility: visible;
    bottom: 100px;
    right: 10px;
  }
  #chat-header {
    background-color: rgb(111, 240, 240);
  }
  #input {
    position: relative;
    background-color: rgb(247, 245, 243);
    padding: 5%;
    color: rgb(115, 103, 126);
    border: none;
    margin-bottom: 5%;
    width: 90%;
    border-radius: 2%;
}
 