<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/chatbox-style.css">
    <script src="https://kit.fontawesome.com/6a7b1ca22e.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="js/functions.js"></script>
    <title>Chatbox</title>
</head>

<body>
    <%- include('../partials/_chatbox-window') %>
    <script src="js/chat-script.js"></script>
</body>

</html>