<!DOCTYPE html>
<html>

<head>
	<%- include('../partials/_head') %>
</head>
<body>
<header>
	<%- include("../partials/_header") %>
</header>
	<main id="ham-main">
		<span class="js-include-html" data-filename="partial/_sidebar.htm" data-function="InitSidebar()"></span>

		<section class="left">
			<div id="top-rated">
				<span class="js-gettop3liked-json" data-filename="data/articles.json"></span>
			</div>
		</section>
		<section class="center">
			<span class="js-include-json" data-filename="data/articles.json"></span>
		</section>
		<section class="right">
			<img src="https://media1.giphy.com/media/l3E6Ek4zKHFXGOzFm/giphy.gif" alt="image" />
			<div>
				<a href="https://www.stb.com.mk/appform/potrosuvacki-kredit-so-obezbeduvanje-80000-eu" target="_blank">
					<img src="https://bggde.adocean.pl/files/akifogwllcu/sampepghsi/xplplxgfyt/300x600-potroshuvachki-obezbeden.gif"
						alt="">
				</a>
			</div><br>
			<div>
				<a href="https://alkaloid.com.mk/mk/product/multi-essence-vitamin-d3-1000-iu-2000-iu-4000-iu"
					target="_blank">
					<img src="https://time.mk/ads/c959c749e6e608e828321761716f0830.gif" alt="">
				</a>
			</div><br>
			<div>
				<a href="https://www.neptun.mk/issuu.nspx?promotion=2276" target="_blank">
					<img src="https://bggde.adocean.pl/files/akidojuirei/sampepghsi/shehhosqgo/Gaming-300x250.gif"
						alt="">
				</a>
			</div>
		</section>
	</main>
	<%- include('../partials/_chatbox-window') %>
<footer>
	<%- include('../partials/_footer') %>
</footer>
	<script src="js/script.js"></script>
	<script src="js/jqueryScript.js"></script>
	<script src="js/music.js"></script>
	<!-- <script src="js/chat-script.js"></script> -->

</body>

</html>