
<form id='form' action="/login" method="POST">
    <label for="username">username</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">password:</label>
    <input type="text" id="password" name="password" required><br><br>
    
    <input type="submit" class="btn btn-block btn-danger" value="login"/> 
  </form>